.custom-dialog {
    width: 50% !important;
    font-family: Kanit, sans-serif;
  }
  
  .custom-dialog .p-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-inputtext {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Kanit, sans-serif;
  }
  
  .custom-button {
    width: 20%;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    margin-left: 180px;
    font-family: Kanit, sans-serif;
  }

  .custom-dialog {
    width: 100%;
  }
  
  .custom-datatable {
    text-align: center;
  }
  
  .custom-datatable th,
  .custom-datatable td {
    padding: 10px;
  }
  
  